<h1>Editing Plaid #<%= @plaid.id %></h1>

<form action="/plaids/<%= @plaid.id %>/update">
  <div>
    <label for="network_id">network_id</label><br />
    <input id="network_id" name="network_id" value="<%= @plaid.network_id  %>" type="text" />
  </div>
  <div>
    <label for="show_id">show_id</label><br />
    <input id="show_id" name="show_id" value="<%= @plaid.show_id  %>" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


