<h1>New Showtime</h1>

<form action="/create_plaid">
  <div>
    <label for="network_id">network_id</label><br />
    <input id="network_id" name="network_id" type="text" />
  </div>
  <div>
    <label for="show_id">show_id</label><br />
    <input id="show_id" name="show_id" type="text" />
  </div>
  <br />
  <div>
    <input type="submit">
  </div>
</form>

