<h1>New Network</h1>

<form action="/create_network">
  <div>
    <label for="url">url</label><br />
    <input id="url" name="url" type="text" />
  </div>
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

