<h1>New Character</h1>

<form action="/create_character">
  <div>
    <label for="show_id">show_id</label><br />
    <input id="show_id" name="show_id" type="text" />
  </div>
  <div>
    <label for="actor_id">actor_id</label><br />
    <input id="actor_id" name="actor_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

