<h1>New Show</h1>

<form action="/create_show">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

