<!DOCTYPE html>
<html>
<head>
  <title>TvShows</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/shows">Shows</a>
       <a class="navbar-brand" href="/actors">Actors</a>
       <a class="navbar-brand" href="/networks">Network</a>
       <a class="navbar-brand" href="/new_show">New Show</a>
       <a class="navbar-brand" href="/new_actor">New Actor</a>
      <a class="navbar-brand" href="/new_network">New Network</a> 
      <a class="navbar-brand" href="/new_character">New Character</a>
      <a class="navbar-brand" href="/new_plaid">New Showtime</a>


    </div>


<%= yield %>

</body>
</html>
